* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html {
    font-family: 'Proxima Nova';

}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #181c25;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cont {
  display: grid;
  grid-template-columns: 300px 1fr ;
  gap: 30px;
  height: 90vh;
  width: 100%;
  padding: 25px;
}

.map-container {
  position: relative;
  width: 100%;
  height: 100%;
  background: #8accfb;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 12px;
}
svg {
  width: 100%;
  height: 100%;
  cursor: grab;
}
.popup {
  position: absolute;
  background: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  display: none;
  max-width: 200px;
}
.legend {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: #181c25;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  color:white;
}
.select {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #f2f8ff;
  padding: 10px;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}


.year {
    position: absolute;
    font-size: 17px;
    top: 10px;
    left: 10px;
    background: #f2f8ff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    width: 120px;
  }

.dropdown {
  position:absolute;
  left: 135px;
  top: 10px;
  background-color: #f2f8ff;
  width: 8%;
  border-radius: 8px;
}  


.dropbtn {
  background-color: #f2f8ff;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  height: 50px;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f2f8ff;
  min-width: 90px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 8px;
  transition: 600ms ease;
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 8px;
  transition: 500ms ease;
}


.dropdown-content a:hover {
  background-color: rgb(219, 228, 236);
  scale: 1.05; 

}


.dropdown:hover .dropdown-content {
  display: block;
}


.dropdown:hover .dropbtn {
  background-color: #c0d0e4;  
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f2f8ff;
  border-radius: 12px;
  gap: 10px;

}

.tab {
  position: relative;
  background-color: #b3c0ce;
  height: 50px;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  overflow: visible;
  text-align: center;
  font-size: 1.3em;
  transition: 500ms ease;

}

.tab a {
  color: #000000;
  padding: 12px 16px;
  text-decoration:solid;
  display: block;
  border-radius: 8px;
  transition: 500ms ease;
}

.tab .content {
  display: none;
  flex-direction: column;
  position: absolute;
  height: 200px;
  width: 200px;
  top: 0px;
  right: -230px;
  z-index: 1000;
  border-radius: 8px;
  background-color:#f2f8ff;
  padding: 25px;
}

.tab:hover .content {
  display: flex;
}

.tab .content img {
  width: 100%;
}

.tab:hover {
  background-color: rgb(144, 163, 185) ;
  scale: 1.05;
}

.toggle {
  position: absolute;
  top: 55px;
  left: 10px;
  background: #181c25;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  color:white;
}

button {
  font-size: 10px;
  position: relative;
  background-color: #a2b9c9;
  padding: 5px 5px;
  display: flex;
  border-radius: 8px;
  transition: 500ms ease;
  width: 100px;
}

button.active {
  background-color: #4CAF50; /* Green when active */
  color: white;
}

.floodlegend {
  font-size: 14px;
  position: absolute;
  top:250px;
  left: 10px;
  background: #181c25;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  color:white;
  width:120px;
  transition: 500ms ease;
}